/* Base */
html, body, #root {
  height: 100%;
  
}

*, *:before, *:after {
  box-sizing: border-box;
}

/* Player Page */
.player-page-layout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  
  
}

.player-card-area {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  
  overflow: scroll;
  background-color: #004643;
  color: #fffffe;
}

.player-right-pane-area {
  width: 30%;
  height: 100%;
  background-color: #002e2c;
  color: #fffffe;
  overflow: scroll;
  padding: 20px 2%; 
}

.right-rail-container {
  background-color: #083937;
  border-radius: 10px;
  padding: 20px; 
  
  margin: 20px 0;
  
}

.callsParentContainer {
  background-color: #000;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.callsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
}


.rr-h2s {        
  padding: 0;
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 0.9em;
  color: #eee;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pill {
  padding: 2px 10px;
  display: inline-block;
  background-color: #002e2c;
  font-size: 0.9em;
  text-align: center;
  border-radius: 10px;
  color: #eee;
}

.btn-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn-group div {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.called-num {
  font-size: 2em;
}

.hoz-group {
  
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  
}

